

/* #region resourses page */

.switch-btn {
  border-radius: 100px;
  width: 32px;
  height: 32px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-icon {
  fill: #02897a;
}

/* #region subscribe section */

.subscribe-container {
  padding-top: 77px;
  padding-bottom: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-subscribe-subcontainer {
  height: 100%;
  padding-bottom: 21px;
}

.subscribe-subcontainer-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.49;
  letter-spacing: -0.03em;
  max-width: 380px;
  margin-bottom: 24px;
}

.subscribe-subcontainer-txt {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.03em;
  max-width: 535px;
  margin-bottom: 24px;
}

.email-input {
  display: flex;
  height: 66px;
  width: 470px;
  position: relative;
  margin-bottom: 24px;
  border: 1px solid #eaeaea;
  border-radius: 100px;
}

.email-input-form {
  position: absolute;
  width: 309px;
  top: 50%;
  left: 27px;
  transform: translateY(-50%);
  outline: transparent;
  border: none;
}

.email-input-form::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #22343d;
}

.jn-btn {
  font-weight: 600;
  line-height: 0;
  color: #fff;
  padding: 25px 22px;
  border-radius: 100px;
  background-color: #02897a;
  position: absolute;
  top: 8px;
  right: 8px;
}

.main-subscribe-subcontainer-container {
  display: flex;
  align-items: center;
}

.clients-images {
  display: block;
  margin-right: 9px;
}

.main-subscribe-subcontainer-container-txt {
  font-size: 14px;
}

.container-txt-subdesign {
  font-weight: 500;
  color: #02897a;
}

/* #endregion subscribe section */

/* #region latest stories section */

.stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 8px;
}

.stories-txt {
  font-weight: 500;
  line-height: 1.625;
  margin-bottom: 32px;
}

.stories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 32px;
}

.stories-list-item {
  width: calc((100% - 64px) / 3);
  border: 1px solid #dedede;
  border-radius: 8px;
}

.stories-list-item img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.stories-item-subcontainer {
  padding: 22px 30px 37px 24px;
}

.full-stories-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44444;
  color: #22343d;
}

/* #endregion latest stories section */

/* #region feedback style*/

.feedback-container {
  max-width: 871px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-container-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.68;
  letter-spacing: 0.01em;
  text-align: center;
  color: #252b42;
  margin-bottom: 7px;
}

.feedback-container-txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.01em;
  text-align: center;
  color: #374754;
  padding: 10px;
  max-width: 332px;
  margin-bottom: 55px;
}

.feedback-social-links-list {
  display: flex;
  gap: 22px;
}

.feedback-social-links-item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  background-color: #edfffc;
}

.social-icon {
  stroke-width: 2px;
  stroke: #02897a;
  fill: none;
}

.feedback-map {
  padding: 10px 0px;
}

.feedback-form-container {
  margin-top: 50px;
  padding: 52px 50px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 20px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.feedback-form-container-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0em;
  color: #252b42;
  text-align: center;
}

.input-feedback-form {
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 20px;
  background-color: #f5f5f5;
  width: 100%;
}

.input-feedback-form::placeholder {
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.01em;
  color: #22343d;
}

.comment-feedback-area {
  border: 1px solid #e8e8e8;
  padding: 23px 20px;
  resize: none;
  background-color: #f5f5f5;
  height: 193px;
  width: 100%;
}

.comment-feedback-area::placeholder {
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.01em;
  color: #22343d;
}

.send-btn {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #fff;
  border-radius: 35px;
  padding: 18px 38px;
  cursor: pointer;
  background: #02897a;
  max-width: 145px;
}

/* #endregion feedback style*/

/* #endregion resourses page */
