body {
  font-family: 'Poppins', sans-serif;
  color: #22343d;
  background-color: #ffffff;
}

/* reset */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  font-family: inherit;
  color: currentColor;
}

/* common style */

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* #region header style */

.header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.logo {
  display: flex;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  gap: 16px;
  padding-top: 22px;
  padding-bottom: 22px;
  align-items: center;
  margin-right: 237px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 26px auto;
}

.main-link {
  font-weight: 600;
  line-height: 1.75;
  color: #22343d;
}

.header-nav-list-link {
  display: block;
  line-height: 1.75;
  color: #22343d;
}

.header-btn-list {
  display: flex;
  gap: 21px;
  margin: 19px 0;
  align-items: center;
}

.btn-si {
  font-weight: 600;
  text-align: center;
  color: #173a56;
  background-color: #ffffff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
}

.btn-su {
  font-weight: 600;
  color: #fff;
  padding: 9px 25px;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background-color: #02897a;
}

/* #endregion header style */

/* #region hero style */
.hero-container {
  display: flex;
  padding-bottom: 100px;
}

.hero-title-marg {
  margin: 112px auto;
  max-width: 465px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.hero-txt {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 45px;
}

.hero-btn-list {
  display: flex;
  gap: 30px;
}

.btn-gs {
  font-weight: 700;
  color: #fff;
  padding: 15px 40px;
  border-radius: 4px;
  background-color: #02897a;
  width: 178px;
  height: 53px;
}

.watch-video-btn {
  display: flex;
  align-items: center;
}

.btn-wtv {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  border: 0;
  background-color: transparent;
}

.triangle-container {
  margin-right: 8px;
}

.triangle-on-btn {
  fill: #02897a;
}

/* #endregion hero style */

/* #region product style */

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  max-width: 500px;
  padding-bottom: 50px;
}

.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.product-list-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 90px) / 4);
}

.product-icon {
  margin-bottom: 18px;
}

.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
  justify-content: center;
}

.product-txt {
  line-height: 1.62;
}

.btn-sun {
  font-weight: 700;
  color: #fff;
  width: 175px;
  height: 53px;
  border-radius: 4px;
  background-color: #02897a;
  justify-content: center;
}

/* #endregion product style */

/* #region management section */

.management-container {
  display: flex;
  padding-bottom: 100px;
}

.management-subcontainer {
  display: flex;
  flex-direction: column;
  padding: 41px 0;
  margin-right: 84px;
  max-width: 486px;
}

.title-design {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
  max-width: 224px;
}

.txt {
  line-height: 1.62;
  margin-bottom: 30px;
}

.management-subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.62;
  margin-bottom: 12px;
}

.management-subtxt {
  font-size: 16px;
  line-height: 1.62;
}

.design-subtxt {
  margin-bottom: 25px;
}

/* #endregion management section */

/* #region customer support design */

.support-container {
  display: flex;
  padding-bottom: 100px;
}

.support-subcontainer {
  display: flex;
  flex-direction: column;
  max-width: 451px;
  margin-left: 49px;
  padding: 41px 35px;
}

.section-title-support {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
  max-width: 304px;
}

.support-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.support-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-icon-design {
  height: 35px;
  width: 35px;
  background-color: #f03e3d;
  border: 2.92px solid #fff;
  border-radius: 14px;
  flex-shrink: 0;
  margin-right: 30px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange-check {
  background-color: #f90;
}

.blue-check {
  background-color: #4d8dff;
}

.check-icon {
  fill: white;
}

.support-txt {
  line-height: 1.62;
}

/* #endregion customer support design */

/* #region collaborative design */

.collaborative {
  padding-bottom: 150px;
}

.collaborative-container {
  display: flex;
}

.collaborative-subcontainer {
  display: flex;
  flex-direction: column;
  padding: 41px 0;
  margin-right: 84px;
  max-width: 486px;
}

/* #endregion collaborative design */

/* #region process design */

.process-container {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 916px;
}

.process-title-container {
  margin-bottom: 40px;
}

.process-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.process-txt {
  font-weight: 500;
  line-height: 1.62;
  color: #22343d;
  max-width: 542px;
  text-align: center;
  display: flex;
  justify-self: center;
}

.process-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  row-gap: 25px;
  margin-bottom: 50px;
}

.process-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc((100% - 100px) / 2);
  max-width: 408px;
}

.reversed-item {
  flex-direction: row-reverse;
}

.process-item-txt {
  padding: 13px 20px;
  font-weight: 500;
  text-align: center;
  color: #2f281e;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 24px;
  min-width: 281px;
}

.btn-cou {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  height: 53px;
  background-color: #02897a;
  padding: 15px 31px;
  cursor: pointer;
}

/* #endregion process design */

/* #region strategies design */

.strategies-container {
  padding-bottom: 171px;
}

.strategies-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
}

.strategies-txt {
  font-weight: 500;
  line-height: 1.625;
  max-width: 465px;
  margin-bottom: 40px;
}

.strategies-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.strategies-list-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #dedede;
  border-radius: 8px;
}

.strategies-item-subcontainer {
  padding: 24px 27px 40px 27px;
}

.article-author {
  line-height: 1.75;
  margin-bottom: 12px;
}

.article-author-design {
  font-weight: 700;
}

.article-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
}

.green-article-name {
  color: #02897a;
}

/* #endregion strategies design */

/* #region price design */

.price-container {
  padding-bottom: 100px;
}

.price-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 10px;
}

.price-txt {
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

.price-list {
  display: flex;
  justify-content: center;
  gap: 72px;
}

.price-list-items {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 32px 72px;
  width: calc((100% - 144px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-list-items-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  margin-bottom: 8px;
}

.price-list-items-txt {
  line-height: 2.5;
  margin-bottom: 16px;
}

.price-list-items-subcontainer {
  display: flex;
  gap: 7px;
  margin-bottom: 16px;
}

.price-value {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}

.prise-value-subcontainer {
  flex-direction: column;
  padding: 24px 0;
}

.price-value-currency {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  margin-bottom: 8px;
}

.price-value-period {
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;
  min-width: 98px;
}

.price-list-items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.price-list-items-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.01em;
}

.order-now-btn {
  background-color: #02897a;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 11px 19px;
}

.green-item {
  background-color: #02897a;
}

.white-txt {
  color: #fff;
}

.white-btn {
  background-color: #fff;
  color: #02897a;
}

/* #endregion price design */

/* #region clients-says design */

.clients-says-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  align-items: center;
}

.clients-says-txt {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.01em;
  max-width: 537px;
  margin-bottom: 40px;
  text-align: center;
}

.clients-says-list {
  display: flex;
  gap: 64px;
}

.clients-says-list-item {
  width: calc((100% - 128px) / 3);
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px;
}

.clients-says-list-item-mark {
  padding-left: 2px;
  margin-bottom: 16px;
}

.clients-says-list-item-txt {
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-bottom: 16px;
}

.clients-says-list-item-subcontainer {
  display: flex;
  gap: 14px;
}

.clients-says-list-item-subcontainer-txt {
  display: flex;
  flex-direction: column;
}

.clients-says-list-item-subcontainer-title {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

.subcontainer-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

/* #endregion clients-says design */

/* #region get-this design !!!error!!!*/

.get-this {
  padding-bottom: 100px;
}

.get-this-container {
  display: flex;
  padding: 4px 46px 10px 51px;
  border-radius: 32px;
  max-width: 968px;
  background-color: #02897a;
}

.get-this-subcontainer {
  padding-top: 45px;
  padding-bottom: 46px;
  margin-right: 10px;
}

.get-this-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
  margin-bottom: 46px;
}

.get-this-btn {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  padding: 10px 34px;
}

/* .get-this-img {
  /* filter: drop-shadow(0 0 32px 0 rgba(0, 0, 0, 0.15)); */


/* #endregion get-this design */

/* #region footer design */

.footer-container {
  padding-bottom: 40px;
}

.footer-nav {
  display: flex;
}

.footer-nav-block {
  flex-direction: column;
  margin-right: 146px;
  padding-bottom: 152px;
}

.footer-logo {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-bottom: 18px;
}

.footer-social-links-list {
  display: flex;
  max-width: 152px;
  gap: 16px;
}

.footer-social-links-item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #edfffc;
}

.footer-social-links-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.footer-nav-resoursces {
  margin-right: 129px;
}

.footer-nav-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.footer-nav-txt {
  line-height: 2.1875;
}

.footer-link-color {
  color: #22343d;
}

.footer-nav-stuff {
  margin-right: 83px;
  min-width: 132px;
}

.footer-nav-subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.footer-input

/* #endregion footer design */

/* #region resourses page/feedback */
.feedback-container {
  max-width: 871px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-container-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.68;
  letter-spacing: 0.01em;
  text-align: center;
  color: #252b42;
  margin-bottom: 7px;
}

.feedback-container-txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.01em;
  text-align: center;
  color: #374754;
  padding: 10px;
  max-width: 332px;
  margin-bottom: 55px;
}

.feedback-social-links-list {
  display: flex;
  gap: 22px;
}

.feedback-social-links-item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  background-color: #edfffc;
}

.social-icon {
  stroke-width: 2px;
  stroke: #02897a;
  fill: none;
}

.feedback-map {
  padding: 10px 0px;
}

.feedback-form-container {
  margin-top: 50px;
  padding: 52px 50px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 20px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.feedback-form-container-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0em;
  color: #252b42;
  text-align: center;
}

.input-feedback-form {
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 20px;
  background-color: #f5f5f5;
  width: 100%;
}

.input-feedback-form::placeholder {
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.01em;
  color: #22343d;
}

.comment-feedback-area {
  border: 1px solid #e8e8e8;
  padding: 23px 20px;
  resize: none;
  background-color: #f5f5f5;
  height: 193px;
  width: 100%;
}

.comment-feedback-area::placeholder {
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.01em;
  color: #22343d;
}

.send-btn {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #fff;
  border-radius: 35px;
  padding: 18px 38px;
  cursor: pointer;
  background: #02897a;
  max-width: 145px;
}

/* #endregion resourses page/feedback */
