body {
    font-family: "Poppins", sans-serif;
    color: #22343D;
    background-color: #FFFFFF;
}

/* reset */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    font-family: inherit;
    color: currentColor;
}

/* common style */

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* #region header style */

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logo {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
    gap: 16px;
    margin-top: 22px;
    margin-bottom: 22px;
    align-items: center;
    margin-right: 237px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 26px auto;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.main-link {
    font-weight: 600;
    line-height: 1.75;
    color: #22343d;
}

.header-nav-list-link {
    display: block;
    line-height: 1.75;
    color: #22343d;
    }

.header-btn-list {
    display: flex;
    gap: 21px;
    margin:: 19px 0;
    align-items: center;
}

.btn-si {
    font-weight: 600;
    text-align: center;
    color: #173a56;
    background-color: #FFFFFF;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
}

.btn-su {
    font-weight: 600;
    color: #fff;
    padding: 9px 25px;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background-color: #02897a;
}

/* #endregion header style */

/* #region hero style */
.hero-container {
    display: flex;
    margin-bottom: 100px;
}

.hero-title-marg {
    margin: 112px auto;
    max-width: 465px;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;
}

.hero-txt {
    font-size: 18px;
    line-height: 1.55;
    margin-bottom: 45px;
}

.hero-btn-list {
    display: flex;
    gap: 30px;
}

.btn-gs {
    font-weight: 700;
    color: #fff;
    padding: 15px 40px;
    border-radius: 4px;
    background-color: #02897a;
    width: 178px;
    height: 53px;
}

.watch-video-btn {
    display: flex;
    align-items: center;
}

.btn-wtv {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    border: 0;
    background-color: transparent;
    width: 164px;
    height: 23px;
}

.triangle-container {
    margin-right: 8px;
}

.triangle-on-btn {
    fill: #02897a;
}


/* #endregion hero style */

/* #region product style */

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    max-width: 500px;
    padding-bottom: 50px;
}

.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.product-list-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 90px) / 4);
}

.product-icon {
    margin-bottom: 18px;
}

.product-subtitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 13px;
    justify-content: center;
}

.product-txt {
    line-height: 1.62;
}

.btn-sun {
    font-weight: 700;
    color: #fff;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background-color: #02897a;
    margin-bottom: 50px;
    justify-content: center;
}

/* #endregion product style */

/* #region management section */

.management-container {
    display: flex;
    margin-bottom: 100px;
}

.management-subcontainer {
    display: flex;
    flex-direction: column;
}

.title-design {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.section-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
    max-width: 224px;
}

.txt {
    line-height: 1.62;
    margin-bottom: 30px;
}

.management-subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.62;
    margin-bottom: 12px;
}

.management-subtxt {
    font-size: 16px;
    line-height: 1.62;
}

.design-subtxt {
    margin-bottom: 25px;
}

/* #endregion management section */

/* #region customer support design */

.support-container {
    display: flex;
    margin-bottom: 100px;
}

.support-subcontainer {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-left: 84px;
}

.section-title-support {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
    max-width: 304px;
}

.support-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.support-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-icon-design {
    height: 35px;
    width: 35px;
    background-color: #f03e3d;
    border: 2.92px solid #fff;
    border-radius: 14px;
    flex-shrink: 0;
    margin-right: 30px;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-check {
    background-color: #f90;;
}

.blue-check {
    background-color: #4d8dff;;
}

.check-icon {
    fill: white;
}

.support-txt {
    line-height: 1.62;
}

/* #endregion customer support design */

/* #region collaborative design */

.collaborative {
    margin-bottom: 150px;
}

.collaborative-container {
    display: flex;
}

.collaborative-subcontainer {
    display: flex;
    flex-direction: column;
    margin: 41px 84px 41px 0;
    max-width: 486px;
}



/* #endregion collaborative design */

